
@import "../partials/variables";

.content-container {
    // background-color: grey;
    border-radius: 5px;
    width: calc(100% - 20px);
    margin: 10px;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.custom-link {
    text-decoration: none;
    color: $secondary-color;
    font-weight: 500;

    &:hover {
        color: $emphasis;
    }
}
